<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/app.css">
</head>
<body>

    <h1>OUR BLOGS</h1>
    <%for(let item of blogs){%>
        <ul>
            <li><%=item.blog%></li>
            <li><%=item.name%></li>
            <a href="/blogs/<%=item.id%>">show more</a>
            <a href="/blogs/<%=item.id%>/edit">Edit Blog</a>
            <form action="/blogs/<%=item.id%>?_method=DELETE" method="POST">
                <button>Delete</button>
            </form>
        </ul>
    <%}%>
    <a href="/blogs/new">Add new Blog</a>








    <!-- <h1>hello ! we are connected</h1>
    <h2>Get AND post request</h2>
    <h2>GET</h2>
    <form action="/user" method="GET"> get request will go to this url (/user)-->

        <!-- <label for="username">Username</label>
        <input type="text" name="username" id="username">


        <label for="age">Age</label>
        <input type="number" name="age" id="age">

        <button type="submit">send</button> -->


    <!-- </form> --> 

    <!-- <h2>POST</h2>
    <form action="/user" method="POST"> data sent by the browser is sent as form data and not as query parameter-->

        <!-- <label for="username">Username</label>
        <input type="text" name="username" id="username">


        <label for="age">Age</label>
        <input type="number" name="age" id="age">

        <button type="submit">send</button>


    </form> --> 
</body>
</html>